<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="ljljkljkljkljklj.">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.green-indigo.min.css" />
		<link rel="stylesheet" href="stylesheets/style.css">				
    <link rel="stylesheet" href="stylesheets/octicons.css">
		<title>Git Trumps</title>				 
	</head>
<body class="git-trumps mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__header-row">
          <img title="Home" src="/images/g-trumps-coin.png"</img>
          <h2>Git Trumps</h2>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#play" class="mdl-layout__tab is-active">Play</a>
          <a href="#about" class="mdl-layout__tab">About</a>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add"
                  onclick="location.href='https://github.com/ButchersBoy';" title="Star me on GitHub!">
            <span class="octicon octicon-star"></span>
          </button>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Material Design Lite</span>
        <nav class="mdl-navigation">
          <a href="#play" class="mdl-navigation__link">Play</a>
          <a href="#about" class="mdl-navigation__link">About</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="play">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"">
            <div class="mdl-card mdl-cell mdl-cell--12-col header-card">    
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <div>Play trumps with Git repositories and maybe discover a cool new project!</div>
                  <h5>Win Streak:</h5>
                  <div id="winStreak"></div>                  
                </div>                
              </div>              
            </div>
          </section>
          <div id="playArea"></div>
          
          
        </div>
        <div class="mdl-layout__tab-panel" id="about">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>About Git Trumps</h4>
              After spending a few years deep diving into WPF, Git Trumps is a little breath of fresh air; a small demo project pulling together some web technologies that interest me:   
              <ul class="toc">
                <h4>Client &amp; Server</h4>
                <a href="#lorem1">Node.js</a>
                <a href="http://facebook.github.io/react/">React</a>
                <a href="http://www.getmdl.io/">Material Design Lite</a>
                <a href="https://jquery.com/">jQuery</a>
              </ul>
              
              <ul class="toc">
                <h4>Build &amp; Deploy</h4>
                <a href="http://gulpjs.com/">Gulp</a>
                <a href="azure.microsoft.com">Azure</a>
              </ul>

              <h4>About Me</h4>
              <p>
                I (being James Willock) am a contract developer in London, UK, who was spent plenty of time developing real time trading systems and various other systems in the finance sector.
              </p>
              <p>
                As well as earning a living in enterprise software I also actively develop open source software and have two popular projects in the .net WPF space:
              </p>
              <ul class="toc">
                <h4>Open Source</h4>
                <a href="https://github.com/ButchersBoy/Dragablz">Dragablz</a>
                <a href="https://github.com/ButchersBoy/MaterialDesignInXamlToolkit">Material Design in XAML Toolkit</a>
              </ul>
              <ul class="toc">
                <h4>Contact</h4>
                <a href="https://github.com/ButchersBoy">GitHub</a>
                <a href="https://twitter.com/James_Willock">Twitter</a>
                <a href="http://dragablz.net/">Blog</a>
                <a href="https://uk.linkedin.com/in/jwillock">LinkedIn</a>                
              </ul>
            </div>
          </section>
        </div>
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">For giggles by James Willock</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="https://github.com/ButchersBoy">GitHub</a></li>
                <li><a href="https://twitter.com/James_Willock">Twitter</a></li>
                <li><a href="http://dragablz.net/">Blog</a></li>
                <li><a href="https://uk.linkedin.com/in/jwillock">LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </main>
    </div>    
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script src="scripts/mainbundle.js"></script>			
  </body>
</html>